<div class="tabnav">
	<a class="btn disabled right" href="#" data-toggle-dialog="network-preferences"><span class="octicon octicon-tools"></span></a>
	<a class="btn disabled right" href="#" data-toggle-dialog="add-channel"><span class="octicon octicon-plus"></span></a>
	<nav class="tabnav-tabs css-truncate channel-list">
	</nav>
</div>
<div class="columns channel-columns">
	<div class="log-column column">
		<!-- Reference item
			<article>
				<div class="name">aReallyLongName</div>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam dictum nec dui quis varius. Nunc egestas volutpat sapien eget maximus. Fusce sed enim non sem varius porta vel id tortor. Suspendisse non sem urna. Vestibulum sem elit, tempus eget arcu id, semper tempor sapien. Ut vitae pulvinar dolor. In facilisis sapien sit amet nulla dictum, ut varius neque vestibulum. Pellentesque diam diam, efficitur consectetur diam vitae, elementum lacinia neque. Proin sed porttitor arcu.</p>
			</article> -->
	</div>
	<div class="column users-column">
		<ul class="filter-list user-list">
			<!-- Reference item
				<li>
					<a href="#" class="filter-item selected">
						<span class="count">@</span>
						foobar
					</a>
				</li> -->
		</ul>
	</div>
	<input type="text" class="input-mini input-block input-send" placeholder="..." autofocus="">
</div>
